.h5p-compound-task-description {
  font-size: 20px;
  font-weight: 600;
}
.h5p-result {
  margin: 2.5em 0;
}
.h5p-result:first-child {
  margin-top: 0;
}
.h5p-result:last-child {
  margin-bottom: 0;
}
